@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  min-height: 100vh;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: #a9a9a9;
}

hr {
  border: none;
  height: 1px !important;
  background-color: #a9a9a9;
}

.active {
  background-color: #fff0ed !important;
  border-color: tomato !important;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
