# Ignore node_modules directory

node_modules/


# Ignore logs

logs/
.log

# Ignore environment variables

.env

# Ignore build directories

dist/
build/

# Ignore system files

.DS_Store
Thumbs.db

# Ignore IDE configurations

.vscode/
.idea/g
\*.sublime-workspace
